nav{
    justify-content: center;
    display: flex;
}
body{
    cursor: grab;
    position: relative;
}

.badge{
    position: absolute;
    background: yellowgreen;
    padding: 2px 10px;
    margin-top: 50px;
    border-radius: 8px;
    top: 40px; 
    left: 50%;
    transform: translateX(-50%);
}

h2{
    color:aquamarine
}

.links{
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;
}

.links:hover{
    text-decoration: underline;
}

ul,li{
    padding: 10px;
    margin: 10px
}